<!DOCTYPE html>
<html>
	<head>
		<title>Search</title>
		<meta charset="utf-8"/>
		<link rel="stylesheet" href="/css/common.css"/>
	</head>
	<body>
		<%- include("navbar.ejs") %>
		<h2>Оформление билета</h2>
		<form>

		</form>
	</body>
</html>
